
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  padding: 0px;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
.g-icon-fill {
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }

body {
    margin: 0;
    min-height: 100vh;
}

#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #F1F7FC;
    background-color: #030a1c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

.clear-border-r {
    border-right: 0;
}

.clear-border-l {
    border-left: 0;
}

/* UTILITY */
.ms-bg-orange {
    background-color: #e79200;
}

.ms-text-orange {
    color: #e79200;
}